<% include server-head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <h2>Signup</h2>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

                <!-- LOGIN FORM -->
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </form>

                <div class='delineator oauth'>
                    <div>Or signup with either of the following services:</div><br />
                    <a style="margin-left:15px;margin-right:15px" href="/auth/google"><img style="width:29px" src="/assets/google-logo.png" /></a>
                    <a style="margin-right:15px" href="/auth/facebook"><img src="/assets/fb-logo.png" /></a>
                </div>

                <div class='delineator'>
                    <p>Already have an account? <a href="/login">Login</a></p>
                    <p>Or go <a href="/">Home</a>.</p>
                </div>
    </div>

    <% include server-foot.ejs%>
