
body {
  /* padding-top:80px; */
   /* background-color: black;  */
}

#root {
  height: 90%;
  width: 100%;
}

.column {
    color: #FFFFFF;
    font-size: 11px;
    min-height: 400px;
    max-height: 57  0px;
    background-size: cover;
    background-position: 50% 25%;
}

#sidebartop {
  height: 100%;
  width: 100%;
}

#sidebarbottom {
  height: 10%;
  width: 100%;
}

#messageboardtop {
  height: 12%;
  width: 100%;
}

#messageboardmiddle {
  height: 80%;
  width: 100%;
}

#messageboardbottom {
  height: 15%;
  width: 100%;
}
/* div.ui.segment {
  height: 100% 
} */