#root {
  height: 100vh;
  width: 100vw;
}

.app-container {
  height: 100vh;
}

.nav-bar {
  margin-top: 1rem !important;
}

.message-list {
  height: 75vh;
  overflow-y: scroll;
  margin: 2rem 0 !important;
  border: .1rem solid #eee;
  border-radius: .3rem;
}

.message-list-item {
  margin: .5rem 1rem !important;
  box-shadow: none;
}

.nav-bar,
.message-list,
.message-input {
  max-width: 70vw !important;
}

.video-chat-bar {
  margin-left: 0 !important;
}

.video-box {
  display: inline-block;
  margin-right: 2rem;
}

 .mute-button {
  position: absolute;
}
