#root {
  height: 100vh;
  width: 100vw;
}

/* .container {
  height: 100vh;
  width: 100vw;
} */

#nav-bar {
  margin-top: 1rem;
}

 .message-list {
  max-width: 100vw !important;
  height: 75vh;
  overflow-y: scroll;
  margin: 2rem 1rem !important;
  border: .1rem solid #eee;
  border-radius: .3rem;
}

.message-list-item {
  margin: .7rem !important;
  box-shadow: none;
}

.left-sidebar {
  /* width: 50rem; */
}

/* i.add.circle.icon {
   float: right;
} */

.remotes-videos >  {
  display: inline-block;
}

.vsc-initialized,
.local-video,
#peers {
  display: inline-block !important;
  margin-right: 2rem;
}
