#root {
  height: 100vh;
  width: 100vw;
  background-color: #f1f4f5;
}

.app-container {
  height: 100vh;
}

.nav-bar {
  margin-top: 1rem !important;
}

.left-sidebar {
  background: #222b37 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.message-list {
  height: 75vh;
  overflow-y: scroll;
  margin: 2rem 0 !important;
  border: .1rem solid #eee;
  border-radius: .3rem;
  background-color: #fff;
}

.message-list-item {
  margin: .5rem 1rem !important;
  box-shadow: none;
}

.nav-bar,
.message-list,
.message-input {
  max-width: 70vw !important;
}

.disabled-input {
  color: rgba(0, 0, 0, 1) !important;
}

.video-chat-bar {
  margin-left: 0 !important;
}

.video-box {
  display: inline-block;
  margin-right: 2rem;
}

 .mute-button {
  position: absolute;
}

.friend-modal, .add-friend-modal {
  text-align: center !important;
}

.friend-modal button {
  margin-bottom: 1rem !important;
}
